Person =
  name: 'string'
  email: 'string'
  chore_ids: [ ObjectId(chore_id) ]

Chore =
  label: 'string'
  person_id: ObjectId( person_id )

List =
  person_id: ObjectId( person_id )
  title: 'string'
  chore_ids: [ ObjectId(chore_id) ]

Lists =
  list_ids: [ ObjectId( list_id ) ]
  person_id: ObjectId( person_id )
